<!DOCTYPE html>
<html>
<head>
  <title>Bds</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="MldCEo7mXM1R5qs8z1QdMLZdE0ZQFkhJpWLWrTOnjLo" />
</head>
<body>

<%= yield %>

</body>
</html>
